section.hero-home {
	background: url(../../images/hero-home.png) center center fixed;
	background-size: cover;
	height: 100vh;
	.hero-content-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		color: white;
		height: 100%;
		.hero-content {
			@include media-breakpoint-down(sm) {
				padding: 0 2rem;
			}
			h1, p, form {
				flex-basis: 100%;
			}
			h1 {
				font-weight: 700;
			}
			p {
				font-weight: 300;
				font-size: 1.2rem;
				margin-bottom: 2.5rem;
			}
			form.hero {
				display: flex;
				justify-content: space-between;
				@include media-breakpoint-down(sm) {
					flex-wrap: wrap;
				}
				input {
					padding: 10px 16px;
					border: 0;
					border-radius: 100px;
					width: 100%;
					@include box-shadow (0,0,20px,lighten($black,30%));
					@include media-breakpoint-down(sm) {
						margin-bottom: 20px;
						padding: 18px 16px;
					}
				}
				button {
					padding: 10px 16px;
					border: 0;
					background: $orange;
					color: white;
					margin-left: 8px;
					border-radius: 100px;
					width: 50%;
					text-transform: uppercase;
					font-weight: 700;
					cursor: pointer;
					font-size: 0.9rem;
					@include transition(all .3s ease);
					@include box-shadow (0,0,20px,lighten($black,30%));
					@include media-breakpoint-down(sm) {
						margin-left: 0;
						width: 100%;
						padding: 18px 16px;
					}
					&:hover {
						background: darken($orange,10%);
					}
				}
			}
		}	
	}
}